
  @import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Outfit:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    margin: 100px auto;
    background-color: hsl(212, 45%, 89%);
    min-width: 100vh;
    display: flex;
    text-align: center;
    font-size: 15px;
     font-family: 'Outfit', sans-serif;
    
}

/* CORES E LARGURAS DAS BOX */

.container{
    margin: 0px auto;
    max-width: 350px;
}
 
.card {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 17px;
    text-align: center;
    margin: 0%; 
}

.card img{
    width: 100%;
    border-radius: 5px;
}

.text{
    padding: 22px 10px
}

.text h2{
    color:hsl(218, 44%, 22%);
    padding-bottom: 15px;
}
.text p{
    color:hsl(220, 15%, 55%);
}